html {
  font-size: 100%;

  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Outfit", sans-serif;
}

body {
  max-width: 80ch;
  margin: 4em auto 0 auto;
  padding: 0 2em 0 2em;
}
