html,
body {
  padding: 0;
  margin: 0;

  font-size: 100%;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Outfit", sans-serif;

  color: #374151;
}

body {
  padding: 0 1em;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

nav > ul {
  color: #06b6d4;
}

body > * {
  max-width: 80ch;
  margin: 0 auto;
}

#banner {
  padding-top: 4em;
}

#content {
  padding-top: 2em;
}

#contentinfo {
  padding: 4em 0 2em 0;
}

.entry-content > p {
  text-align: justify;
}

a {
  color: #0891b2;
  text-decoration: none; /* Hide underlines */
}

.author {
  color: #64748b;
}

.entry-title {
  font-weight: 500;
  font-size: 150%;
}
